<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>313869609154-ntf0bjius7mi6b19bg4fqs2gc6c71g2l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.313869609154-ntf0bjius7mi6b19bg4fqs2gc6c71g2l</string>
	<key>API_KEY</key>
	<string>AIzaSyDU9RHg-61Kqt_h9DVwbXZUTHU7uW6Axb4</string>
	<key>GCM_SENDER_ID</key>
	<string>313869609154</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Art-S.Keyboards-Shop</string>
	<key>PROJECT_ID</key>
	<string>keyboards-shop-4d5f0</string>
	<key>STORAGE_BUCKET</key>
	<string>keyboards-shop-4d5f0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:313869609154:ios:a7ac045831877a3e48335b</string>
</dict>
</plist>